<ng-container [ngTemplateOutlet]="(showError$ | async) ? error : (showDefaultContent$ | async) ? default : selected"></ng-container>

<ng-template #error>
  Цей світлофор вже вибрано!
  <div>
    <button mat-button (click)="close()">OK</button>
  </div>
</ng-template>
<ng-template #default>
    <h1 mat-dialog-title>Координати</h1>
    <div mat-dialog-content>
      Id: {{data.item.id}}
      Довгота: {{data.item.location.latitude}}
      Широта: {{data.item.location.longitude}}
    </div>
</ng-template>
<ng-template #selected>
  <div mat-dialog-content>
    Вибрано світлофор з Id: {{data.item.id}}
  </div>
  <div>
    <button mat-button (click)="closeAndChangeModeValue()">ОК</button>
  </div>
</ng-template>
