<ng-container [ngTemplateOutlet]="(showError$ | async) ? error : (showDefaultContent$ | async) ? default : selected"></ng-container>

<ng-template #error>
  This item has been already selected
  <div>
    <button mat-button (click)="close()">OK</button>
  </div>
</ng-template>
<ng-template #default>
    <h1 mat-dialog-title>Coordinates</h1>
    <div mat-dialog-content>
      Id: {{data.item.id}}
      Lat: {{data.item.location.latitude}}
      Long: {{data.item.location.longitude}}
    </div>
</ng-template>
<ng-template #selected>
  <div mat-dialog-content>
    Item with Id: {{data.item.id}} was selected
  </div>
  <div>
    <button mat-button (click)="closeAndChangeMode()">Confirm</button>
  </div>
</ng-template>
